<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-primary" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link btn-outline-danger text-warning">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-primary href="Identity/Account/Register">Register</a>
        <a class="btn btn-outline-success" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
