@inherits LayoutComponentBase

<PageTitle>InventoryManagementApp</PageTitle>

<div class="page">
    <div class="navbar-expand-sm bg-secondary">
        <div class="container-fluid">
            <NavMenu />
        </div>
        
    </div>

    <main>
        <div class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-evenly">
            <LoginDisplay />
            <a class="text-info" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
